version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: kapoor1204
      POSTGRES_DB: shl_recommender
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/shl_recommender
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build: .
    command: streamlit run frontend/streamlit_app.py --server.port 8501 --server.address 0.0.0.0
    environment:
      API_BASE: http://api:8000
    depends_on:
      - api
    ports:
      - "8501:8501"

volumes:
  db_data:
